@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>
       <strong>¡Hola @context.User.Identity?.Name!</strong> 
         <BSButton   Color="BSColor.Danger"  Size="Size.ExtraSmall" OnClick="Logout">  Cerrar Sesión <span class="oi oi-out"></span></BSButton>
    </Authorized>
    <NotAuthorized>
                 <BSButton   Color="BSColor.Success"  Size="Size.ExtraSmall" OnClick="Login">  Iniciar Sesión <span class="oi oi-in"></span></BSButton>

    </NotAuthorized>
</AuthorizeView>


@code {
    void Login()
    {
        NavigationManager.NavigateTo("login");
    }
    async Task Logout()
    {

        await LocalStorage.RemoveItemAsync("OdtValue");
        await LocalStorage.RemoveItemAsync("ReunionWebToken");
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
