@inject AuthenticationStateProvider AuthStateProvider
@page "/"

<PageTitle>Index</PageTitle>

<h1>Reunión Diaria</h1>
<p></p
<p></p>
<div class="boxhome" >
		<img src="./images/LogoGris.png" width="140px" style="  float:right;"/>
   <h3>Reunión para Garantizar la Estabilidad del Proceso Productivo</h3> 
		
		</div>
<p></p>
<p></p>

<div class="boxhome">	
<BSCarousel HasControls="true" HasIndicators="true" >
    <BSCarouselItem Interval="0" >

        <img src="./images/vision.png" width="100%" height="90%"/>

    </BSCarouselItem>
    <BSCarouselItem Interval="0">
        <img src="./images/valores.png" width="100%" height="90%"/>

    </BSCarouselItem>   
        @if (Pais == "Colombia")
        {
            <BSCarouselItem Interval="0">
                <img src="./images/PRINCIPIOS GUIA.png" width="100%" height="90%"/>

    </BSCarouselItem>
        }
@*  <BSCarouselItem>
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text>
        </svg>
        <BSCarouselCaption Class="d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
        </BSCarouselCaption>
    </BSCarouselItem> *@
	
</BSCarousel>

</div>
<p></p>
<p></p>
  

<div class="boxhome">	
	<h4 >"Códigos de Programación/Reprogramación (Categorización) de 
Planes de Acción"</h4>
<p></p>
	<p>Código	Descripción</p>

<p>1.-	En curso (Acción Programada por primera vez para ser culminada en máximo 2 semanas)</p>
<p>2.-	Próxima Parada (Acción a ejecutar en la próxima parada programada)</p>
<p>3.-	Falta Repuesto</p>
<p>4.-	Falta de Personal</p>
<p>5.-  Equipo no Disponible por producción</p>

</div>	
<p></p>
<p></p>
<div class="boxhome">
<p><h4>Normativa General</h4></p>	
<p>2.1 - Hora de inicio de la reunión 09:00 am.</p>	
<p>2.2 - La duración de la reunión es de veinte minutos.</p>	
<p>2.3 - La puerta se cierra una vez comienza la reunión.</p>	
<p>2.4 - No puede ingresar ninguna persona luego de la hora pautada</p>	
<p>2.5 -Tomar la asistencia al inicio de la reunión. El personal listado en el apartado 1 debe 	estar  presente 	en la reunión.</p>	
<p>2.6 - El personal involucrado debe estar preparado con antelación, llevando planes de acción a la reunión.</p>	
<p>2.7 - El Planificador de Mantenimiento debe de informar las actividades vencidas y en proceso de 	cada 	uno de los responsables antes o después de la reunión de manera verbal,  todos los viernes.</p>	
<p>2.8 - Prohibido el uso del teléfono durante la reunión.</p>	
<p>2.9 - Cada Superintendente de división debe realizar su reunión.</p>	

@*<p>2.-	Cada vez que se cambie una fecha de una acción se debe actualizar el código de la reprogramación	</p>
<p>3.-	Un Plan de Acción puede tener una fecha de compromiso y máximo 2 fechas de reprogramación o refechaje. Si todavía es necesario posponer un plan de acción (a mas de 3 fechas) se debe mantener la segunda fecha de refechaje en el Power Suite, además de reflejarlo como plan de acción retrazado en la Pizarra de Gestión Diaria	
</p>
<p>4.-	Es responsabilidad del Planificador de Mantenimiento el mantener actualizado y con la información correcta y completa el Sistema Power suite	</p>
<p>5,-	En el casos de los planes de acción del personal de Mantenimiento, los Códigos de Programación "En Curso" y "Próxima Parada" son responsabilidad de los supervisores y los código de Programación "Falta Repuesto", "Falta de Personal" y "Eq. no Disponible" son responsabilidad de los Superintendentes de Mtto. garantizar los recursos y deben estar canalizadas a través de planes de acción en la reunión quincenal.	
</p>
<p>6.-	Los planes de acción que se le envíen al Planificador de Mantenimiento deben estar completos, es decir, deben contener:	
		<p>- El KSF</p>
		<p>- El código del equipo</p>
		<p>- El Problema o la discrepancia</p>
		<p>- El código de Programación</p>
		<p>- La Acción</p>
		<p>- Las Horas</p>
		<p>- El responsable</p>
		<p>- La fecha de compromiso</p>
	En caso que falte alguno de los campos anteriores el planificador debe devolver el plan de acción al remitente.	
</p>		
<p>7.-	Todas las acciones para corregir discrepancias de mantenimiento que se reporten en la reunión diaria deben definírsele  el tiempo estimado de ejecución.	</p>
<p>8.-	Todas las acciones para corregir discrepancias de mantenimiento que se reporten en la reunión diaria deben reportarse contra una ODT ya sea una ODT  general o una especifica contra el equipo o posición técnica (nueva ODT)	
		- Las ODT se hacen especificas cuando el trabajo es contra un equipo o posición técnica, y que involucren trabajos de mas de media hora o consumo de Repuestos
		
		- A las ODT generales se les asignaran trabajos que no son en un equipo o posición técnica especifica tal como limpiezas de áreas y equipos, movimiento de partes o equipos, etc. También son las usadas para retirar consumibles (no repuestos) de producción y/o Mantenimiento (tales como  guantes, tirro, teipes, baterías, etc.)
</p>		
<p>9.-	Las autorizaciones de cierre de los Planes de Acción culminados deben ser hechas por los Spttes. de Producción	</p>
		
<p>10.-	El campo KSF tendra las siguientes alternativas: 	
		
	En la reunion Diaria:	Produccion: cuando afecta la produccion directamente y el responsable sea alguien de Produccion
		Mantenimiento:  cuando afecta la produccion directamente y el responsable sea alguien de Mtto.
		Calidad: cuando afecta la calidad del producto directamente y cualquier responsable
		Seguridad: cuando afecta la seguridad de las personas directamente y cualquier responsable
	Reu. Quincenal: Para los planes de accion derivados de la reunion quincenal y cualquier responsable	
	Auditorias: Para los planes de accion derivados de las Auditorias y cualquier responsable	
	ESD: Para los planes de accion derivados de los equipos de solucion de discrepancias y cualquier responsable</p>	*@
</div>			

@code{
    private List<Claim> claims { get; set; }
        private string Pais { get; set; } = ""; //pais
    private string UsrRol { get; set; } = ""; //rol para filtrar

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        claims = Enumerable.ToList(user.Claims);
        Pais = claims.FirstOrDefault(c => c.Type.Contains("Pais"))?.Value;


    }
    }