@page "/login"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IAPIDiv1Service APIDiv1Service


<h3>Login</h3>

  <BSForm Model="user" Class="boxhome" IsRow="true" Gutters="Gutters.Medium" OnSubmit="HandleLogin">

    <BSCol Column="auto">
        <BSLabel IsHidden="true">User</BSLabel>
        <BSInput InputType="InputType.Text" placeholder="name@example.com"  @bind-Value="user.UserName"/>
    </BSCol>
    <BSCol Column="auto">
        <BSLabel IsHidden="true">Password</BSLabel>
        <BSInput InputType="InputType.Password" @bind-Value="user.Password"/>
    </BSCol>
    <BSCol Column="auto">
        <BSButton   Color="BSColor.Success"  Size="Size.ExtraSmall" IsSubmit>  Guardar <span class="oi oi-check"></span></BSButton>
    </BSCol>
</BSForm>
@code {
    UserLoginDto user = new UserLoginDto();

    protected async Task HandleLogin()
    {
        var result = await Http.PostAsJsonAsync("http://localhost:5258/Lineas/Auth", user);
        var token = await result.Content.ReadAsStringAsync();
        Console.WriteLine(token);
        await LocalStorage.SetItemAsync("token", token);
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
